<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Main Content START -->
    <section class="vh-xxl-100">
        <div class="container h-100 d-flex px-0 px-sm-4">
            <div class="row justify-content-center align-items-center m-auto">
                <div class="col-12">
                    <div class="bg-mode shadow rounded-3 overflow-hidden">
                        <div class="row g-0">
                            <!-- Vector Image -->
                            <div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
                                <div class="p-3 p-lg-5">
                                    <img src="../assets/images/contraseña/img1.svg" alt="">
                                </div>
                                <!-- Divider -->
                                <div class="vr opacity-1 d-none d-lg-block"></div>
                            </div>
            
                            <!-- Information -->
                            <div class="col-lg-6 order-1">
                                <div class="p-4 p-sm-7">
                                    <!-- Logo -->
                                    <a href="../index.html">
                                        <img class="mb-4 h-50px" src="../assets/images/index/logoc.jpg" alt="logo">
                                    </a>
                                    <!-- Title -->
                                    <h2 class="mb-2 h3">Olvidaste tu Contraseña?</h2>
                                    <p class="mb-sm-0">Ingresa el email asociado a tu cuenta.</p>
            
                                    <!-- Form START -->
                                    <form class="mt-sm-4 text-start">
                                        <!-- Email -->
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control">
                                        </div>
    
                                                                            <div class="mb-3 text-center">
                                                                              <p>Regresar a <a href="/login">Ingresar</a></p>
                                                                            </div>
    
                                        <!-- Button -->
                                                                            <div class="d-grid" align="center">
                                                                                <a href="two-factor-auth.jsp">
                                                                                    <button type="button" class="btn btn-primary">Restaurar Contraseña</button>
                                                                                </a>
                                                                            </div>
            
                                        
            
                                        <!-- Copyright -->
                                        <div class="text-primary-hover mt-3 text-center"> Copyrights © 2023 Byron </div>
                                    </form>
                                    <!-- Form END -->
                                </div>		
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main Content END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->