<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section>

        <div class="container">
            <div class="container">
                <!-- Content START -->
                <div class="row g-lg-5 align-items-center justify-content-center">
                    <div class="col-md-6">
                        <h3 class="mb-4" style="text-align: center; color: #D8854D;">¿Qué hacemos?</h3>
                        <p class="fw-bold" style="text-align: justify;">En KidTales ofrecémos una solución a los padres, para lograr darles diversión sin limite a sus hijos, a través de nuestros audio-cuentos
                            personalizados. Además, contamos con una gama amplia con respecto al género de los audio-cuentos, los cuales los pequeños podran seleccionar 
                            de acuerdo a sus preferencias. También contamos con nuestro sistema de realidad aumentada, lo que ayudara a los pequeños a desarrollar aun más
                            su imaginación, creatividad, y aun más importante a divertirse sin limite.
                        </p>

                    </div>
                    <div class="col-md-6">
                        <img src="../assets/images/conocenos/img1.png" class="img-fluid" alt="">
                    </div>
                </div>
                <br><br><br>
                <!-- Content END -->
            </div>
            <!-- Image START -->
            <div class="container">
                <!-- Content START -->
                <div class="row g-lg-5 align-items-center justify-content-center">
                    <div class="col-md-6">
                        <img src="../assets/images/conocenos/img2.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h3 class="mb-4" style="text-align: center; color: #D8854D;">¿Cómo lo hacemos?</h3>
                        <p class="fw-bold" style="text-align: justify;">La magía de KidTales
                            es debidos a nuestras Inteligencias Artificiales, las cuales fueron programadas y entrenadas
                            con una infinidad de cuentos infatiles, para que de esta forma fueran capaces de crear cuentos realistas,
                            de calidad y lo más increible de todo únicos, esto debido a que la inteligencia artificial, será la encaraga de 
                            escribir los audios libros, y de darle la ilustración de las portada, por lo que el audio-libro que te lea sera único 
                            , solo lo podrás disfrutar tu y lás personas que tu quieras.
                        </p>

                    </div>
                </div>
                <!-- Content END -->
            </div>
            <!-- Image END -->
        </div>
    </section>
    <!-- =======================
    Main banner START -->
</main>
<!-- **************** MAIN CONTENT END **************** -->