        <!-- **************** MAIN CONTENT START **************** -->
        <main>
            <!-- =======================
            Main banner START -->
            <section class="pt-4 pt-sm-5">
                <!-- Background and title -->
                <div class="container pb-4">
                    <div class="row">
                        <!-- Title -->
                        <div class="col-lg-10 text-center mx-auto">
                            <!-- Title -->
                            <img src="assets/images/index/KidTales.svg">
                        </div>
                    </div> <!-- Row END -->
                </div>
            </section>
            <!-- =======================
            Main banner START -->

            <!-- =======================
            About content START -->
            <section class="pt-0 pt-lg-5">
                <div class="container">
                    <!-- Content START -->
                    <div class="row mb-4 mb-md-5">
                        <div class="col-md-10 mx-auto">
                            <p class="fw-bold" style="text-align: center">KidTales es un aplicación en donde podras reproducir audio-cuentos únicos
                                y originales clasificados según el género que prefieras, todos creados por nuestra IA Robyn </p>
                            <br><br><br>
                        </div>

                        <div class="container pb-4">
                            <div class="row">
                                <!-- Title -->
                                <div class="col-lg-10 text-center mx-auto">
                                    <!-- Title -->
                                    <img src="assets/images/index/circulos.svg">
                                </div>
                            </div> <!-- Row END -->
                        </div>                    
                    </div>
                    <!-- Content END -->
                </div>
                <!-- =======================
              Stories START-->
            </section>     


            <section class="pt-0 pt-md-5">
                <div class="container">
                    <div class="row g-4 g-lg-5 align-items-center">

                        <div class="col-lg-4">
                            <!-- Title -->
                            <h2 class="mb-0">Aventura para los más pequeños</h2>

                            <div class="d-sm-flex justify-content-sm-between align-items-center mt-4">
                                <!-- Avatar group -->
                                <ul class="avatar-group mb-sm-0">
                                    <li class="avatar">
                                        <img class="avatar-img rounded-circle" src="assets/images/index/01.png" alt="avatar">
                                    </li>
                                    <li class="avatar">
                                        <img class="avatar-img rounded-circle" src="assets/images/index/02.png" alt="avatar">
                                    </li>
                                    <li class="avatar">
                                        <img class="avatar-img rounded-circle" src="assets/images/index/03.png" alt="avatar">
                                    </li>

                                </ul>

                                <!-- Rating -->
                                <h5 class="m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h5>
                            </div>

                            <!-- Button -->
                        </div>

                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Card item -->
                                    <div class="card card-element-hover card-overlay-hover overflow-hidden">
                                        <!-- Image -->
                                        <img src="assets/images/index/02.png" class="rounded-3" alt="">
                                        <!-- Full screen button -->
                                        <a class="hover-element position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/gallery/01.jpg">
                                            <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                        </a>
                                    </div>

                                    <!-- Testimonials START -->
                                    <div class="tiny-slider arrow-round arrow-blur arrow-hover arrow-xs my-4 mb-md-0">
                                        <div class="tiny-slider-inner pb-1" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
                                            <div class="card bg-transparent">
                                                <div class="row align-items-center">
                                                    <!-- Image -->
                                                    <div class="col-4">
                                                        <img src="assets/images/team/02.jpg" class="card-img" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>		
                                    <!-- Testimonials END -->
                                </div>

                                <div class="col-md-6">
                                    <!-- Card item -->
                                    <div class="card card-element-hover card-overlay-hover overflow-hidden mb-4">
                                        <!-- Image -->
                                        <img src="assets/images/index/01.png" class="rounded-3" alt="">
                                        <!-- Full screen button -->
                                    </div>
                                    <!-- Card item -->
                                    <div class="card card-element-hover card-overlay-hover overflow-hidden">
                                        <!-- Image -->
                                        <img src="assets/images/index/03.png" class="rounded-3" alt="">
                                        <!-- Full screen button -->
                                        <a class="hover-element position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/index/01.png">
                                            <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- Row END -->
                        </div>
                    </div> <!-- Row END -->
                </div>
            </section>
            <!-- =======================
            Stories END-->              

            <!-- =======================
               
        
            Team START -->

            <section class="pt-0 pt-lg-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 ms-auto position-relative">
                            <img src="assets/images/index/04.png" class="rounded-3" alt="">
                        </div>
                    </div> <!-- Row END -->
                </div>
            </section>
            <!-- =======================
            Main Banner END -->       
            <section class="pt-0 pt-lg-5">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-12">
                            <br><br><br>
                            <h2 class="mb-0" style="text-align: center">Nuestros cuentos más emblemáticos</h2>
                            <br><br><br>
                        </div>
                    </div>

                    <div class="row g-4">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card card-element-hover bg-transparent">
                                <div class="position-relative">
                                    <img src="assets/images/index/bosque.svg" class="card-img" alt="">
                                </div>

                                <div class="card-body px-2 pb-0">
                                    <h5 class="card-title" style="text-align: center"><a href="Pages/Cuentos/bosque.jsp">El bosque de los susurros</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="card card-element-hover bg-transparent">
                                <div class="position-relative">
                                    <img src="assets/images/index/espacio.svg" class="card-img" alt="">
                                </div>

                                <div class="card-body px-2 pb-0">
                                    <h5 class="card-title" style="text-align: center"><a href="Pages/Cuentos/espacio.jsp">El viaje estelar

                                        </a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="card card-element-hover bg-transparent">
                                <div class="position-relative">

                                    <img src="assets/images/index/mar.svg" class="card-img" alt="">
                                </div>

                                <div class="card-body px-2 pb-0">
                                    <h5 class="card-title" style="text-align: center"><a href="Pages/Cuentos/mar.jsp">En el mar zafiro</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- =======================
            Team END -->
