<footer class="pt-5" style="background-color: #DA8C47;">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <p style="color: white;">"Demostrando que la Ciencia y la Tecnología son una rama más del Arte"</p>
                <p class="mb-2" style="color: white;"><a href="#" style="color: white;"><i class="bi bi-telephone me-2"></i> +52 1 55 5555 5555</a> </p>
                <p class="mb-0" style="color: white;"><a href="#" style="color: white;"><i class="bi bi-envelope me-2"></i>byron.inc.jdb&#64;gmail.com</a></p>
            </div>
            <div class="col-lg-8 ms-auto">
                <div class="row g-4">
                    <div class="col-6 col-md-4">
                        <h5 class="text-white mb-2 mb-md-4">Páginas</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"> <a style="color: white;" href="/auth/login">Inicia Sesión</a></li>
                            <li class="nav-item"> <a style="color: white;" href="/auth/join">Resgístrate</a></li>
                            <li class="nav-item"> <a style="color: white;" href="/about">Conocénos</a></li>
                            <li class="nav-item"> <a style="color: white;" href="/support">Soporte Técnico</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-5">
                        <h5 class="text-white mb-2 mb-md-4">Nuestros Proyectos</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li style="color: white;">eServices</li>
                            <li style="color: white;">Kidtales</li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-3">
                        <h5 class="text-white mb-2 mb-md-4">Síguenos en</h5>
                        <ul class="list-inline mb-0 mt-3">
                            <li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="https://www.facebook.com/profile.php?id=100092532574820" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr style="color: white;">

        <div class="row">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                    <a href="http://byroninc.gerdoc.com/" target="_blank">
                        <img class="h-40px" src="assets/images/index/logoo.jpg" alt="logo">
                    </a>
                    <div style="color: white;"> Copyrights ©2023 Byron Inc</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>
