@if (user$ | async; as user) {
<!-- **************** MAIN CONTENT START **************** -->
 <main>
	
    <!-- =======================
    Content START -->
    <section class="pt-3">
        <div class="container">
            <div class="row">
    
                <!-- Sidebar START -->
                <div class="col-lg-4 col-xl-3">
                    <!-- Responsive offcanvas body START -->
                    <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar" >
                        <!-- Offcanvas header -->
                        <div class="offcanvas-header justify-content-end pb-2">
                            <button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
                        </div>
    
                        <!-- Offcanvas body -->
                        <div class="offcanvas-body p-3 p-lg-0">
                            <div class="card bg-light w-100">
    
                                <!-- Edit profile button -->
                                <div class="position-absolute top-0 end-0 p-3">
                                    <a [routerLink]="'/user/user/' + userId" class="text-primary-hover" data-bs-toggle="tooltip" data-bs-title="Edit profile">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
    
                                <!-- Card body START -->
                                <div class="card-body p-3">
                                    <!-- Avatar and content -->
                                    <div class="text-center mb-3">
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xl mb-2">
                                            <img class="avatar-img rounded-circle border border-2 border-white" src="../../assets/images/index/fotoperfil.jpeg" alt="">
                                        </div>
                                        <h6 class="mb-0">{{user.username}}</h6>
                                        <a href="#" class="text-reset text-primary-hover small">{{user.email}}</a>
                                        <hr>
                                    </div>
    
                                    <!-- Sidebar menu item START -->
                                    <ul class="nav nav-pills-primary-soft flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="'/user/user/' + userId"><i
                                                    class="bi bi-person fa-fw me-2"></i>Mi Perfil</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="'/user/payment-details/' + userId"><i
                                                    class="bi bi-wallet fa-fw me-2"></i>Métodos de Pago</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="'/user/atetionclient/' + userId"><i
                                                    class="bi bi-heart fa-fw me-2"></i>Atención al cliente</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" [routerLink]="'/user/configuration/' + userId"><i
                                                    class="bi bi-gear fa-fw me-2"></i>Configuración</a>
                                        </li>
                                    </ul>
                                    <!-- Sidebar menu item END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                        </div>
                    </div>	
                    <!-- Responsive offcanvas body END -->	
                </div>
                <!-- Sidebar END -->
    
                <!-- Main content START -->
                <div class="col-lg-8 col-xl-9">
    
                    <!-- Offcanvas menu button -->
                    <div class="d-grid mb-0 d-lg-none w-100">
                        <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i> Menú
                        </button>
                    </div>
                    
                    <div class="vstack gap-4">
                       <!-- Personal info START -->
					<div class="card border">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h4 class="card-header-title">Niño</h4>
						</div>

						<!-- Card body START -->
						<div class="card-body">
							<!-- Form START -->
							<form class="row g-3" [formGroup]="form">
					

								<!-- Control parental -->
								<div class="col-md-6">
                                    <mat-form-field class="w-100">
                                        <mat-label class="form-label">Tiempo en pantalla</mat-label>
                                        <input matInput type="number" class="form-control" [(ngModel)]="user.timeLimit"
                                        formControlName="timeLimit"/>
                                        <mat-error *ngIf="form.get('timeLimit').hasError('required')">Este campo es requerrido</mat-error>
                                        <mat-error *ngIf="form.get('timeLimit').hasError('nonPositive')">Debe ser un número positivo</mat-error>
                                        <mat-error *ngIf="form.get('timeLimit').hasError('notInteger')">Debe ser un número entero</mat-error>
                                    </mat-form-field>
								</div>

								<!-- Nationality -->
								<div class="col-md-6">
                                    <mat-label>Seleccione el Idioma</mat-label>
                                    <mat-radio-group formControlName="language" value="{{ user.language }}">
                                        <mat-radio-button value="español">Español</mat-radio-button>
                                        <mat-radio-button value="english">English</mat-radio-button>
                                    </mat-radio-group>
                                </div>



								<!-- Button -->
								<div class="col-12 text-end">
									<a (click)="updateUser()" class="btn btn-primary mb-0">Guardar Cambios</a>
								</div>
							</form>
							<!-- Form END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Personal info END --> 
                    </div>
                    <br>
                    <div class="vstack gap-4">
    
                        <!-- Security settings START -->
                        <div class="card border">
                            <!-- Card header -->
                            <div class="card-header border-bottom">
                                <h4 class="card-header-title">Ajustes de seguridad</h4>
                            </div>
    
                            <!-- Card body START -->
                            <div class="card-body">
                                <!-- Active sessions -->
                                <form>
                                    <h6>Eliminar sesión</h6>
                                    <p class="mb-2">Al seleccionar "Eliminar sesión", eliminará la sesión en todos los dispositivos. Esto puede tardar unos minutos.</p>
                                    <button class="btn btn-sm btn-danger mb-0" type="button" (click)="deleteUser()">Eliminar sesión</button>
                                </form>
                            </div>
                            <!-- Card body END -->
                        </div>
                        <!-- Security settings END -->
                    </div>

                </div>
                <!-- Main content END -->
                
            </div>
            
        </div>
        
    </section>
    <!-- =======================
    Content END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
}